
.vs/OMTC/v15/.suo
.vs/OMTC/v15/Server/sqlite3/db.lock
.vs/OMTC/v15/Server/sqlite3/storage.ide
OMTC/bin/Debug/46865610.txt
OMTC/bin/Debug/46868691.txt
OMTC/bin/Debug/Newtonsoft.Json.dll
OMTC/bin/Debug/Newtonsoft.Json.xml
OMTC/bin/Debug/OMTC.exe
OMTC/bin/Debug/OMTC.exe.config
OMTC/bin/Debug/OMTC.pdb
