
.vs/OMTC/v15/.suo
.vs/OMTC/v15/Server/sqlite3/db.lock
.vs/OMTC/v15/Server/sqlite3/storage.ide
OMTC/bin/Debug/46865610.txt
OMTC/bin/Debug/46868691.txt
OMTC/bin/Debug/Newtonsoft.Json.dll
OMTC/bin/Debug/Newtonsoft.Json.xml
OMTC/bin/Debug/OMTC.exe
OMTC/bin/Debug/OMTC.exe.config
OMTC/bin/Debug/OMTC.pdb
OMTC/bin/Debug/OMTCv0.1.1.zip
OMTC/bin/Debug/46823678.txt
.vs/OMTC/v15/Server/sqlite3/storage.ide-wal
.vs/OMTC/v15/Server/sqlite3/storage.ide-shm
*.zip
OMTC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OMTC/obj/Debug/OMTC.csproj.CoreCompileInputs.cache
OMTC/obj/Debug/OMTC.csproj.FileListAbsolute.txt
OMTC/obj/Debug/OMTC.csproj.GenerateResource.cache
OMTC/obj/Debug/OMTC.csprojResolveAssemblyReference.cache
OMTC/obj/Debug/OMTC.exe
OMTC/obj/Debug/OMTC.pdb
OMTC/bin/Debug/OMP.dll
*.cache
OMTC/bin/Debug/47175122.txt
OMTC/bin/Debug/47180333.txt
OMTC/bin/Debug/47183668.txt
OMTC/obj/Debug/OMTC.exe
OMTC/obj/Debug/OMTC.pdb
